a, button {
    margin-left: 1.5vw;
}

img{
    border-radius: 50%;
    cursor: pointer;

}

nav{
  background-color: rgba(34, 33, 33, 0.481);
  position: fixed;
  width: 100%;
  z-index: 1;
}


.login{
    color: rgb(254, 249, 240);
    font-family: 'Numans', sans-serif;
    margin-right: 6%;
    cursor: pointer;
}



.col4{
    width: 75%;
    padding-left: 30%;
}

.col3{
    width: 25%;
}





