<nav class="navbar navbar-dark">
  <div class="container-fluid">
    <div class="col3">
      <img
        routerLink="/"
        src="https://yt3.ggpht.com/9upo5zbtXzvItj8IMHF1X9hI95x4YOeGCApLk1DhMQCHftmJvf2GWmbJXrC1TKCrn-AyQ2txBw=s900-c-k-c0x00ffffff-no-rj"
        alt=""
        height="60"
        width="60"
      />
    </div>
    <div class="col4">
      <span class="login" routerLink="/about">Sobre mi</span>
      <span class="login" routerLink="/skills">Skills</span>
      <span class="login" routerLink="/experiencia">Experiencia</span>
      <span *ngIf="!isEditable" class="login" routerLink="/login">Login</span>
      <span class="login" routerLink="/">Inicio</span>
      <a
        href="https://api.whatsapp.com/send?phone=5493415142082&text=Escribe%20aquí%20tu%20consulta!"
        target="_blank"
        ><img
          src="assets/img/png-one-logo-whatsapp-redondo.png"
          alt=""
          height="30"
      /></a>
      <a href="https://www.facebook.com/jessy.newells.9/" target="_blank">
        <img
          src="assets/img/social_facebook_box_blue_256_30649.png"
          alt=""
          height="30"
      /></a>
      <a
        href="https://www.instagram.com/jesicahoffman/?hl=es-la"
        target="_blank"
      >
        <img src="assets/img/iconoinstagram.png" alt="" height="30"
      /></a>
    </div>
  </div>
</nav>
