<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
        <div class=".col-md-8">
        <img src="assets/img/APLogo-20-20.png" alt="" height="60">
    </div>
    <div class=".col-md-4">
        <a href="https://api.whatsapp.com/send?phone=5493415142082&text=Escribe%20aquí%20tu%20consulta!" target="_blank"><img src="assets/img/png-one-logo-whatsapp-redondo.png" alt="" height="30"></a>
        <a href="https://www.facebook.com/jessy.newells.9/" target="_blank">  <img src="assets/img/social_facebook_box_blue_256_30649.png" alt="" height="30"></a>
        <a href="https://www.instagram.com/jesicahoffman/?hl=es-la" target="_blank">  <img src="assets/img/iconoinstagram.png" alt="" height="30"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span>Login</span>
        </button>
    </div>
 </div>
</nav>

