<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
  integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc="
  crossorigin="anonymous"
/>

<footer class="footer bg-footer footer-bar">
  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <div class="text-sm-left">
          <p class="mb-0">
            &copy; 2022. Design by Hoffman Jesica
            <i class="mdi mdi-heart text-danger"></i>
          </p>
        </div>
      </div>

      <div class="col-sm-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
        <ul class="list-unstyled text-sm-right social-icon social mb-0">
          <li class="list-inline-item">
            <a
              href="https://www.facebook.com/jessy.newells.9/"
              target="_blank"
              class="rounded"
              ><i class="mdi mdi-facebook" title="Facebook"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a
              href="https://www.instagram.com/jesicahoffman/?hl=es-la"
              target="_blank"
              class="rounded"
              ><i class="mdi mdi-instagram" title="Instagram"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a
              href="https://www.linkedin.com/in/jesica-hoffman-334bb9208/"
              target="_blank"
              class="rounded"
              ><i class="mdi mdi-linkedin" title="Linkedin"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
