

.text{
    padding-top: 10%;
    width: 40%;
    font-family: 'Numans', sans-serif;
    margin-left: 50%;
    padding-left: 5%;
   
}

#background{
    background-image: url("src\assets\img\imagen-about.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    height: 100vh;
}

.icons{
    align-items: center;
    text-align: end;
}

.mat-icon{
    cursor: pointer;
}

.aboutMeInput{
    width: 100%;
    height: 40vh;
}