<div class="container">
    <div class="text-center mb-2-8 mb-lg-6">
        <h1 class="display-18 display-md-16 display-lg-14 font-weight-1200">Sobre mi </h1>
        <span>The trusted source for why choose us</span>
    </div>
    <div class="row align-items-center">
        <div class="col-sm-6 col-lg-4 mb-2-9 mb-sm-0">
            <div class="pr-md-3">
                <div class="text-center text-sm-right mb-2-9">
                    <div class="mb-4">
                        <img src="assets/img/profile.png" alt="..." class="rounded-circle" height="80" width="80">
                    </div>
                    <h4 class="sub-info">Un poco sobre mi...</h4><div class="icons"><mat-icon *ngIf="isEditable" (click)="eliminar($event)">{{'delete_outline'}}</mat-icon><mat-icon *ngIf="isEditable" (click)="modificar()">{{'create'}}</mat-icon></div>
                    <p *ngIf="editar" class="display-30 mb-0">{{aboutMe}} </p>
                    <div  *ngIf="!editar">
                        <form [formGroup]="formAbout" (ngSubmit)="onEnviar($event)">
                        <br>
                        <input class="aboutMeInput" type="textarea"  formControlName="texto">
                        <br>
                        <br>
                        <button type="submit" mat-flat-button color="primary">Modificar</button>
                      </form>
                  </div>
                </div>
                <div class="text-center text-sm-right">
                    <div class="mb-4">
                        <img src="assets/img/estudio.jfif" alt="..." class="rounded-circle" height="80" width="80">
                    </div>
                    <h4 class="sub-info">Capacitacion constante</h4>
                    <p class="display-30 mb-0">"Desde que comence en este apasionante mundo del software relice muchas capacitaciones, tanto de Frontend, Backend como Diseño UX/UI. 
                        Soy una persona naturalmente curiosa y trabajo constantemente para mejorar mis habilidades. Me gusta mucho el trabajo en equipo ya que gran parte de nuestra capacitacion la recibimos de nuestros pares."</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-none d-lg-block">
            <div class="why-choose-center-image">
                <img src="assets/img/imagencv.jpg" alt="..." class="rounded-circle">
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="pl-md-3">
                <div class="text-center text-sm-left mb-2-9">
                    <div class="mb-4">
                        <img src="assets/img/develop.jfif" alt="..." class="rounded-circle" height="80" width="80">
                    </div>
                    <h4 class="sub-info">Siempre en los detalles</h4>
                    <p class="display-30 mb-0">"Me considero una persona muy detallista y resolutiva. En mi experiencia como desarrolladora siempre me senti mas comoda en el desarrollo Frontend. 
                        Valoro la estructura de contenido simple, los patrones de diseño limpios y las interacciones bien pensadas."
                    </p>
                </div>
  <br>
                <div class="text-center text-sm-left">
                    <div class="mb-4">
                        <img src="assets/img/bandera.png" alt="" class="rounded-circle" height="80" width="80">
                    </div>
                    <h4 class="sub-info">Ingles</h4>
                    <p class="display-30 mb-0">"Poseo nivel educativo B1 egresada de la institucion Cultural Inglesa de la ciudad de Rosario."</p>
                </div>
            </div>
        </div>
    </div>
  </div>

    



<app-datos-personales></app-datos-personales>

