
<div class="text">
    <h1>Datos personales</h1><div class="icons"><mat-icon *ngIf="isEditable" (click)="eliminar($event)">{{'delete_outline'}}</mat-icon><mat-icon *ngIf="isEditable" (click)="modificarDatos()">{{'create'}}</mat-icon></div>
    <h3 *ngIf="editarDatos">Nombre: {{nombre}}</h3>
    <h3 *ngIf="editarDatos">Apellido: {{apellido}}</h3>
    <h3 *ngIf="editarDatos">Dni: {{dni}}</h3>
    <h3 *ngIf="editarDatos">Fecha de nacimiento: {{fechaNacimiento}}</h3>
    <h3 *ngIf="editarDatos">Correo electrónico: {{mail}}</h3>
    <h3 *ngIf="editarDatos">Telefono: {{telefono}}</h3>
    <h3 *ngIf="editarDatos">Nacionalidad: {{nacionalidad}}</h3>
    <h3 *ngIf="editarDatos">Perfil de Linkedin: <a href="https://www.linkedin.com/in/jesica-hoffman-334bb9208/" target="_blank" *ngIf="editarDatos">{{linkedin}}</a></h3>



<div  *ngIf="!editarDatos">
    <form [formGroup]="formDatosPer" (ngSubmit)="onEnviarDatos($event)">
    <br>
    
    <h3>Nombre: </h3><input type="text" formControlName="nombre">
    <h3>Apellido: </h3><input type="text" formControlName="apellido">
    <h3>Dni: </h3><input type="text" formControlName="dni">
    <h3>Fecha de nacimiento: </h3><input type="text" formControlName="fechaNacimiento">
    <h3>Correo electrónico: </h3><input type="text" formControlName="mail">
    <h3>Telefono: </h3><input type="text" formControlName="telefono">
    <h3>Nacionalidad: </h3><input type="text" formControlName="nacionalidad">
    <h3>Perfil de Linkedin:</h3><input type="text" formControlName="linkedin">
    <br>
    <button type="submit" mat-flat-button color="primary">Modificar</button>
  </form>
</div>
</div>




