<div class="contain">
<img src="assets/img/logo-javaScript.jpg" alt="">
<img src="assets/img/logo-angular.jpg" alt="">
<img src="assets/img/logo-typescript.jpg" alt="">
<img src="assets/img/logo-react.jpg" alt="">
<img src="assets/img/logo-html.jpg" alt="">
<img src="assets/img/logo-css.jpg" alt="">
<img src="assets/img/logo-git.jpg" alt=""><br>
<img class='image' src="assets/img/logo-java.jpg" alt="">
<img class='image' src="assets/img/logo-mongodb.jpg" alt="">
<img class='image' src="assets/img/logo-node.jpg" alt="">
<img class='image' src="assets/img/logo-mysql.jpg" alt="">

</div>

<app-education></app-education>