.background{
    background-image: url("src\assets\img\imagen-fondo.jpg");
    height: 100%;
    background-size: cover;
}

.text{
    font-family: 'Numans', sans-serif;
    width: 42%;
    margin-left: 10%;
  
    color: black;
    
}

.text h1{
    color: white;
    font-family: 'Numans', sans-serif;
    padding-top: 240px;
}